.none {
  color: #000;
}

.red {
  color: #f64747;
}

.orange {
  color: #d35400;
}

.yellow {
  color: #aa8f00;
}

.green {
  color: #00aa55;
}

.blue {
  color: #009fd4;
}

.purple {
  color: #bf6ee0;
}
